@use '/src/styles/constants/colors';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  height: 100px;
  background-color: colors.$GRAYA;

  .navBtn {
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;

    a {
      font-size: 30px;
      color: colors.$BLACK;
    }
  }
}
