@use '/src/styles/constants/colors';

.container {
  width: 1200px;
  padding-top: 40px;

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    a {
      text-decoration: none;
    }
  }

  .trriger {
    width: 100px;
    height: 100px;
    background-color: transparent;
  }
}
